.navbar{
    background: #B5C7D8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    left: 0;
    transition: 1s;
}

.navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

}
.navbar-logo{
    font-size: 2rem;
}
.navbar a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.active{
    border-bottom: 3px solid white;
    font-weight: 600;

}
.navbar li:hover{
    font-weight: 600;

}

.navbar-ham-menu{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;  
    position: absolute;
    top: 25px;
    right: 1rem;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    width: 31px;
    height: 21px;
}

@media (max-width: 400px){
    .navbar-ham-menu{
        display: flex;
    }

    .navbar ul{
        visibility: hidden;
        opacity: 0;
    }
}