.contactos{
    display: flex;
    flex-direction: column;
}


@media (min-width: 800px){
    .contactos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* flex-wrap: wrap; */

    }   
}