.areas-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 3rem 0 3rem;

}

.areas-container .area img {
    object-fit: contain;
    width: 20vw;
    height: 20vh;

}

.areas-title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.5em;
    font-weight: 100;
    display: flex;
    justify-content: center;
    color: #2B4C68;

}


@media (min-width: 600px) and (max-width: 1024px) {
    .areas-container{
    margin: 0 5rem 0 5rem;
  
    }
  }
  
  @media (min-width: 1024px){
    .areas-container{
      margin: 0 10rem 0 10rem;
    
      } 
  }