.areas-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.areas-container .area img {
    object-fit: contain;
    width: 20vw;
    height: 20vh;

}

.areas-title{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.5em;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

.area-description{

}