.opa {
    display: flex;
    flex-direction: column;
}

.opa-left{
    display: flex;
    flex-direction: column;

}
img {
    width: 300px;
    height: 300px;
    align-self: center;
    
}

.opa-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.opa-heading {
    align-content: center;
    justify-content: center;
}

.opa-text {
    align-content: center;
    justify-content: center;
    margin-bottom: 1rem;

}

.btn-inscrever {
    background: #2B4C68;
    border-radius: 20px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 38px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* margin-right: 4px; */

}

.btn-inscrever:hover {
    background: #457299;
    font-weight: 600;

}

.btn-contacto {
    background-color: white;
    border-radius: 20px;
    color: #2B4C68;
    padding: 10px;
    border: none;
    /* border: 2px solid #2B4C68; */
    cursor: pointer;
    /* width: 200px;
    height: 38px; */
    margin-bottom: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */

}

.btn-contacto:hover {
    border: none;
    font-weight: 600;
    color: #457299;
    /* background-color: #d1e9ff; */

}

@media (min-width: 750px){
    .opa {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
    }
  
    .opa-heading{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .opa-buttons {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        position: relative;
       
    }

    .btn-inscrever {
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .opa-left{
        justify-content: flex-start;
    }
    .opa-right {
        margin: 3rem 0rem 1rem 2rem;
    }

    .opa-text {
        margin-bottom: 1rem;
    }

}
