.area-title{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.9em;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #2B4C68
    
}
.area-img{
    display: flex;
    justify-content: center;
    margin-right: 0;
}

