.question {
    background-color: #EAEAEA;
    padding: 10px;

}

.question-heading, .question-text {
    margin: 10px;
}
.question-btn {
    background: #2B4C68;
    border-radius: 20px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 38px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 10px;

}

.question-btn:hover{
    background: #457299;
    font-weight: 600;
}